<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 10.5 MB/s eta 0:00:00
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 5.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 100.7 MB/s eta 0:00:0000:010:01
Downloading numpy-2.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 105.0 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 31.9 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.0 pandas-2.2.3 tzdata-2024.2
Collecting matplotlib
  Downloading matplotlib-3.10.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.55.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (165 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 165.1/165.1 kB 14.9 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (2.2.0)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (24.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.0.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.0-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (2.9.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.10.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 113.2 MB/s eta 0:00:0000:0100:01
Downloading contourpy-1.3.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (326 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 326.2/326.2 kB 33.8 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 104.7 MB/s eta 0:00:0000:01
Downloading kiwisolver-1.4.7-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 78.6 MB/s eta 0:00:00
Downloading pillow-11.0.0-cp311-cp311-manylinux_2_28_x86_64.whl (4.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.4/4.4 MB 99.0 MB/s eta 0:00:00:00:01
Downloading pyparsing-3.2.0-py3-none-any.whl (106 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 106.9/106.9 kB 9.6 MB/s eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.3 kiwisolver-1.4.7 matplotlib-3.10.0 pillow-11.0.0 pyparsing-3.2.0

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [2]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [3]:
# Write your code here
# Display the data types, non-null counts, and missing values
summary = df.info()

# Display the number of missing values for each column
missing_values = df.isnull().sum()

# Combine data types, counts, and missing values into a summary table
summary_df = pd.DataFrame({
    'Data Type': df.dtypes,
    'Non-Null Count': df.count(),
    'Missing Values': missing_values
})

# Display the summary
print(summary_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB
                    Data Type  Non-Null Count  Missing Values
ResponseId              int64           65437               0
MainBranch             object           65437               0
Age                    object           65437               0
Employment             object           65437               0
RemoteWork             object           54806           10631
...                       ...             ...             ...
JobSatPoints_11       float64           29445           35992
SurveyLength           object           56182            9255
SurveyEase             object           56238            9199
ConvertedCompYearly   float64           23435           42002
JobSat                float64           29126           36311

[114 rows x 3 columns]

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [4]:
# Write your code here
# Generate basic statistics for numerical columns
numerical_summary = df.describe()

# Display the summary statistics
print(numerical_summary)

         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [5]:
# Write your code here
# List unique values in the 'Country' column
print(df['Country'].value_counts())

# Find entries with special characters or anomalies (if applicable)
import re
anomalies = df[df['Country'].str.contains(r'[^a-zA-Z\s]', na=False)]  # Find rows with non-alphabet characters
print(anomalies)

Country
United States of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
                                                        ...
Micronesia, Federated States of...                          1
Nauru                                                       1
Chad                                                        1
Djibouti                                                    1
Solomon Islands                                             1
Name: count, Length: 185, dtype: int64
       ResponseId                                         MainBranch  \
37             38                     I am a developer by profession
65             66                     I am a developer by profession
94             95                              I am learning to code
472           473                     I am a developer by profession
480           481                     I am a developer by profession
...           ...                                                ...
64430       64431                              I am learning to code
64717       64718                     I am a developer by profession
64776       64777  I am not primarily a developer, but I write co...
65116       65117                              I am learning to code
65254       65255                              I am learning to code

                      Age                                         Employment  \
37        25-34 years old                                Employed, full-time
65        18-24 years old                                 Student, full-time
94     Under 18 years old                                 Student, part-time
472       25-34 years old                                Employed, full-time
480       25-34 years old  Independent contractor, freelancer, or self-em...
...                   ...                                                ...
64430     35-44 years old                                Employed, full-time
64717     25-34 years old                                Employed, full-time
64776  Under 18 years old                                 Student, part-time
65116     18-24 years old                                 Student, full-time
65254     25-34 years old  Student, full-time;Not employed, but looking f...

                                 RemoteWork   Check  \
37                                   Remote  Apples
65                                      NaN  Apples
94                                      NaN  Apples
472                               In-person  Apples
480    Hybrid (some remote, some in-person)  Apples
...                                     ...     ...
64430                             In-person  Apples
64717                             In-person  Apples
64776                                   NaN  Apples
65116                                   NaN  Apples
65254                                   NaN  Apples

                                        CodingActivities  \
37     Contribute to open-source projects;Bootstrappi...
65                                                   NaN
94                                                   NaN
472                         I don’t code outside of work
480    Hobby;Contribute to open-source projects;Schoo...
...                                                  ...
64430                       I don’t code outside of work
64717  Hobby;Professional development or self-paced l...
64776                                                NaN
65116                                                NaN
65254                                                NaN

                                                 EdLevel  \
37        Professional degree (JD, MD, Ph.D, Ed.D, etc.)
65          Bachelor’s degree (B.A., B.S., B.Eng., etc.)
94     Some college/university study without earning ...
472      Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
480         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
...                                                  ...
64430       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
64717    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
64776  Secondary school (e.g. American high school, G...
65116       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65254       Bachelor’s degree (B.A., B.S., B.Eng., etc.)

                                               LearnCode  \
37     On the job training;Online Courses or Certific...
65     Colleague;Other online resources (e.g., videos...
94     Other online resources (e.g., videos, blogs, f...
472    On the job training;Other online resources (e....
480    Colleague;On the job training;Other online res...
...                                                  ...
64430  Colleague;On the job training;Other online res...
64717  Books / Physical media;Colleague;Online Course...
64776                            Friend or family member
65116  Books / Physical media;Other online resources ...
65254  Other online resources (e.g., videos, blogs, f...

                                         LearnCodeOnline  ... JobSatPoints_6  \
37                                                   NaN  ...            NaN
65     Blogs;Written Tutorials;Stack Overflow;How-to ...  ...            NaN
94     Technical documentation;Blogs;Written Tutorial...  ...            NaN
472    Technical documentation;Written Tutorials;Stac...  ...            0.0
480    Technical documentation;Blogs;Written Tutorial...  ...            NaN
...                                                  ...  ...            ...
64430  Technical documentation;Blogs;Stack Overflow;W...  ...            NaN
64717                                                NaN  ...           30.0
64776                                                NaN  ...            NaN
65116  Technical documentation;Blogs;Books;Stack Over...  ...            NaN
65254  Written Tutorials;Stack Overflow;Social Media;...  ...            NaN

      JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
37               NaN            NaN            NaN             NaN
65               NaN            NaN            NaN             NaN
94               NaN            NaN            NaN             NaN
472              0.0            0.0            0.0             0.0
480              NaN            NaN            NaN             NaN
...              ...            ...            ...             ...
64430            NaN            NaN            NaN             NaN
64717           30.0           20.0            0.0             0.0
64776            NaN            NaN            NaN             NaN
65116            NaN            NaN            NaN             NaN
65254            NaN            NaN            NaN             NaN

      JobSatPoints_11           SurveyLength                  SurveyEase  \
37                NaN  Appropriate in length                        Easy
65                NaN  Appropriate in length                        Easy
94                NaN  Appropriate in length  Neither easy nor difficult
472               0.0               Too long                        Easy
480               NaN  Appropriate in length                        Easy
...               ...                    ...                         ...
64430             NaN                    NaN                         NaN
64717             0.0  Appropriate in length  Neither easy nor difficult
64776             NaN                    NaN                         NaN
65116             NaN                    NaN                         NaN
65254             NaN                    NaN                         NaN

      ConvertedCompYearly JobSat
37                    NaN    NaN
65                    NaN    NaN
94                    NaN    NaN
472              213840.0    4.0
480                   NaN    NaN
...                   ...    ...
64430                 NaN    NaN
64717                 NaN    7.0
64776                 NaN    NaN
65116                 NaN    NaN
65254                 NaN    NaN

[657 rows x 114 columns]

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [7]:
## Write your code here
# Display unique values in 'Country' and 'EdLevel' columns
unique_countries = df['Country'].unique()
unique_edlevel = df['EdLevel'].unique()

print("Unique values in 'Country':", unique_countries)
print("Unique values in 'EdLevel':", unique_edlevel)

Unique values in 'Country': ['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']
Unique values in 'EdLevel': ['Primary/elementary school'
 'Bachelor’s degree (B.A., B.S., B.Eng., etc.)'
 'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)'
 'Some college/university study without earning a degree'
 'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)'
 'Professional degree (JD, MD, Ph.D, Ed.D, etc.)'
 'Associate degree (A.A., A.S., etc.)' 'Something else' nan]

In [8]:
# Country Mapping Dictionary
country_mapping = {
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Republic of Korea': 'South Korea',
    'Côte d\'Ivoire': 'Ivory Coast',
    'United Republic of Tanzania': 'Tanzania',
    'Democratic People\'s Republic of Korea': 'North Korea',
    'Syrian Arab Republic': 'Syria',
    'Libyan Arab Jamahiriya': 'Libya',
    'Russian Federation': 'Russia',
    'Venezuela, Bolivarian Republic of...': 'Venezuela',
    'Iran, Islamic Republic of...': 'Iran',
    'Bosnia and Herzegovina': 'Bosnia & Herzegovina',
    'The former Yugoslav Republic of Macedonia': 'North Macedonia',
    'Bosnia-Herzegovina': 'Bosnia & Herzegovina',
    'Bahamas, The': 'Bahamas',
    'Czech Republic': 'Czechia',
    'Hong Kong (S.A.R.)': 'Hong Kong',
    'Taiwan': 'Taiwan (Province of China)',
    'Macedonia': 'North Macedonia',
    'Democratic Republic of the Congo': 'Republic of Congo',
    'Congo, Republic of the...': 'Republic of Congo',
    'China (People\'s Republic of China)': 'China',
    'South Sudan': 'South Sudan',
    'Republic of North Macedonia': 'North Macedonia',
    'Republic of Moldova': 'Moldova',
    'Brunei Darussalam': 'Brunei',
}

# EdLevel Mapping Dictionary
edlevel_mapping = {
    'Bachelor’s degree (B.A., B.S., B.Eng., etc.)': 'Bachelor’s degree',
    'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)': 'Master’s degree',
    'Some college/university study without earning a degree': 'Some college/university study',
    'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)': 'High School',
    'Professional degree (JD, MD, Ph.D, Ed.D, etc.)': 'Professional degree',
    'Associate degree (A.A., A.S., etc.)': 'Associate degree',
    'Something else': 'Other',
    # Add other mappings as needed
}

# Standardizing 'Country' and 'EdLevel' columns
df['Country'] = df['Country'].replace(country_mapping)
df['EdLevel'] = df['EdLevel'].replace(edlevel_mapping)

# Fill missing values with 'Unknown'
df['Country'].fillna('Unknown', inplace=True)
df['EdLevel'].fillna('Unknown', inplace=True)

# Verify the changes
print("Unique values in 'Country' after standardization:", df['Country'].unique())
print("Unique values in 'EdLevel' after standardization:", df['EdLevel'].unique())

Unique values in 'Country' after standardization: ['United States of America' 'United Kingdom' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran' 'France' 'Saudi Arabia' 'Romania' 'Turkey'
 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia' 'Pakistan' 'Czechia'
 'North Macedonia' 'Finland' 'Slovakia' 'Russia' 'Greece' 'Israel'
 'Belgium' 'Mexico' 'Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan (Province of China)' 'Georgia' 'San Marino' 'Tunisia'
 'Bangladesh' 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia'
 'Albania' 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt'
 'Luxembourg' 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia'
 'Jordan' 'Venezuela' 'Costa Rica' 'Jamaica' 'Thailand' 'Nicaragua'
 'Myanmar' 'South Korea' 'Rwanda' 'Bosnia & Herzegovina' 'Benin'
 'El Salvador' 'Zimbabwe' 'Afghanistan' 'Estonia' 'Malta' 'Uruguay'
 'Belarus' 'Colombia' 'Moldova' 'Isle of Man' 'Nomadic' 'New Zealand'
 'Palestine' 'Armenia' 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji'
 'Guatemala' 'Uganda' 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon'
 'Bahamas' 'Iceland' 'Honduras' 'Hong Kong'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Republic of Congo' 'Syria' 'Iraq' 'Namibia' 'Senegal'
 'Kyrgyzstan' 'Zambia' 'Swaziland' 'Ivory Coast' 'Kuwait' 'Tajikistan'
 'Burundi' 'Trinidad and Tobago' 'Mauritania' 'Sierra Leone' 'Panama'
 'Somalia' 'North Korea' 'Dominica' 'Guyana' 'Togo' 'Oman' 'Barbados'
 'Andorra' 'Qatar' 'Sudan' 'Cameroon' 'Papua New Guinea' 'Bahrain' 'Yemen'
 'Malawi' 'Burkina Faso' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libya' 'Cape Verde' 'Brunei' 'Bhutan' 'Guinea' 'Niger'
 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho' 'Saint Kitts and Nevis'
 'Monaco' 'Micronesia, Federated States of...' 'Haiti' 'Unknown' 'Nauru'
 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']
Unique values in 'EdLevel' after standardization: ['Primary/elementary school' 'Bachelor’s degree' 'Master’s degree'
 'Some college/university study' 'High School' 'Professional degree'
 'Associate degree' 'Other' 'Unknown']

/tmp/ipykernel_84/3528373284.py:47: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Country'].fillna('Unknown', inplace=True)
/tmp/ipykernel_84/3528373284.py:48: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['EdLevel'].fillna('Unknown', inplace=True)

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [9]:
## Write your code here
# Apply one-hot encoding to the 'Employment' column
df_encoded = pd.get_dummies(df, columns=['Employment'], drop_first=False)

# Show the updated dataframe with one-hot encoding
print(df_encoded.head())

   ResponseId                      MainBranch                 Age RemoteWork  \
0           1  I am a developer by profession  Under 18 years old     Remote
1           2  I am a developer by profession     35-44 years old     Remote
2           3  I am a developer by profession     45-54 years old     Remote
3           4           I am learning to code     18-24 years old        NaN
4           5  I am a developer by profession     18-24 years old        NaN

    Check                                   CodingActivities  \
0  Apples                                              Hobby
1  Apples  Hobby;Contribute to open-source projects;Other...
2  Apples  Hobby;Contribute to open-source projects;Other...
3  Apples                                                NaN
4  Apples                                                NaN

                         EdLevel  \
0      Primary/elementary school
1              Bachelor’s degree
2                Master’s degree
3  Some college/university study
4                    High School

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  \
0                                                NaN
1  Technical documentation;Blogs;Books;Written Tu...
2  Technical documentation;Blogs;Books;Written Tu...
3  Stack Overflow;How-to videos;Interactive tutorial
4  Technical documentation;Blogs;Written Tutorial...

                                             TechDoc  ...  \
0                                                NaN  ...
1  API document(s) and/or SDK document(s);User gu...  ...
2  API document(s) and/or SDK document(s);User gu...  ...
3                                                NaN  ...
4  API document(s) and/or SDK document(s);User gu...  ...

  Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Retired  \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

  Employment_Student, full-time;Student, part-time  \
0                                            False
1                                            False
2                                            False
3                                            False
4                                            False

  Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, part-time  \
0                         False
1                         False
2                         False
3                         False
4                         False

  Employment_Student, part-time;Employed, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

  Employment_Student, part-time;Retired
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

[5 rows x 223 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [10]:
## Write your code here
# Identify columns with the highest number of missing values
missing_values = df.isnull().sum()

# Sort the columns based on the number of missing values in descending order
missing_values_sorted = missing_values.sort_values(ascending=False)

# Display the top columns with the highest number of missing values
print(missing_values_sorted)

AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
Age                               0
EdLevel                           0
Check                             0
Employment                        0
ResponseId                        0
Length: 114, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [11]:
## Write your code here
# Impute missing values with the mean for numerical columns like 'ConvertedCompYearly'
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].mean())

# Alternatively, you can use the median for imputation instead of the mean
# df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].median())

# Verify the changes by checking if there are any missing values left in the column
print(df['ConvertedCompYearly'].isnull().sum())

0

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [12]:
## Write your code here
# Impute missing values in the 'RemoteWork' column with the most frequent value (mode)
most_frequent_remote_work = df['RemoteWork'].mode()[0]
df['RemoteWork'] = df['RemoteWork'].fillna(most_frequent_remote_work)

# Verify if there are any remaining missing values in the column
print(df['RemoteWork'].isnull().sum())

0

In [13]:
df["RemoteWork"].value_counts()

RemoteWork
Hybrid (some remote, some in-person)    33646
Remote                                  20831
In-person                               10960
Name: count, dtype: int64

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [14]:
## Write your code here
# Min-Max Scaling function
def min_max_scaling(df, column_name):
    min_value = df[column_name].min()
    max_value = df[column_name].max()
    df[column_name + '_MinMax'] = (df[column_name] - min_value) / (max_value - min_value)

# Apply Min-Max Scaling to 'ConvertedCompYearly'
min_max_scaling(df, 'ConvertedCompYearly')

# Check the result
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_MinMax']].head())

   ConvertedCompYearly  ConvertedCompYearly_MinMax
0         86155.287263                      0.0053
1         86155.287263                      0.0053
2         86155.287263                      0.0053
3         86155.287263                      0.0053
4         86155.287263                      0.0053

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [15]:
## Write your code here
import numpy as np

# Apply log transformation (ensure values are positive before transformation)
df['ConvertedCompYearly_Log'] = np.log(df['ConvertedCompYearly'] + 1)  # Adding 1 to handle zero values

# Check the result
print(df[['ConvertedCompYearly', 'ConvertedCompYearly_Log']].head())

   ConvertedCompYearly  ConvertedCompYearly_Log
0         86155.287263                11.363918
1         86155.287263                11.363918
2         86155.287263                11.363918
3         86155.287263                11.363918
4         86155.287263                11.363918

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [18]:
# Convert 'YearsCodePro' to numeric, coercing any errors (e.g., non-numeric values) into NaNs
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')

# Define a function to categorize the 'YearsCodePro' into 'ExperienceLevel'
def categorize_experience(years):
    if pd.isna(years):  # Handle NaN values
        return 'Unknown'  # Or any other default category
    elif years < 2:
        return 'Junior'
    elif 2 <= years < 5:
        return 'Mid-level'
    elif 5 <= years < 10:
        return 'Senior'
    else:
        return 'Expert'

# Apply the function to the 'YearsCodePro' column to create the 'ExperienceLevel' column
df['ExperienceLevel'] = df['YearsCodePro'].apply(categorize_experience)

# Check the result
print(df[['YearsCodePro', 'ExperienceLevel']].head(15))

    YearsCodePro ExperienceLevel
0            NaN         Unknown
1           17.0          Expert
2           27.0          Expert
3            NaN         Unknown
4            NaN         Unknown
5            NaN         Unknown
6            7.0          Senior
7            NaN         Unknown
8            NaN         Unknown
9           11.0          Expert
10           NaN         Unknown
11          25.0          Expert
12          12.0          Expert
13           NaN         Unknown
14          10.0          Expert

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.